.notebook {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 150px;
    background-color: #fff8e1;
    border: 2px solid #d4b82c;
    padding: 10px;
    overflow-y: auto;
    z-index: 200;
}



.notebook-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.notebook-overlay.open {
    opacity: 1;
    visibility: visible;
}

.notebook-overlay.closing {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
}

.notebook-content {
    background-color: #fff8e1;
    border: 8px solid #d4b82c;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    transform: scale(0.8);
    transition: transform 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.notebook-overlay.open .notebook-content {
    transform: scale(1);
}

.notebook-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fffdf5;
    border-radius: 5px;
}

.notebook-content h2 {
    text-align: center;
    color: #8B4513;
    margin-bottom: 20px;
}

.notebook-content h3 {
    color: #A0522D;
    border-bottom: 2px solid #d4b82c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.completed-phrase {
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-style: italic;
}

.notebook-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
